

.logout-container {
   margin-top: 40px;
    margin-left: 1200px;
    max-height: 200px;
    display: flex;
    margin-bottom: -50px;
}

.logout-container p {
     margin-left: 310px;
     margin-top: 40px;
     font-size: 22px;
     color: indigo;
}

.logout-container #sair {
    margin-top: 0px;
}

.logout-container #função {
    margin-left:-1150px;
    font-size: 30px;
    margin-top: 60px;
    font-family: Sura;
    font-weight: 50;
}


.addProduct-container {
    max-width: 220px;
    max-height: 100px;
}
.addProduct-container button{
    font-size: 22px;
    height: 60px;
    width: 200px;
    background-color: indigo;
    color: white;
    margin-left: 1050px;
    border-radius: 10px;
    border: 1px solid grey;
    margin-top: 330px;
}

.products-template {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width:810px;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    height:600px;
    background-color: lightsteelblue;
    margin-left: 100px;
    border-radius: 10px;
    border: 1px solid grey;
    align-content: start;
}

.products-template .lista {
    font-size: 20px;
    display: flex;
    height: 260px;  
    max-width: 250px; 
    background-color: white;
    border-radius: 10px;
}

.products-template .lista img {
    height: 150px;
    margin-top: 10px;
    width:150px;
    margin-left: 50px;
}

.products-template .buttons {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    color: indigo;
    margin-top: 190px;
   
}

.products-template .caracteristicas {
    display: flex;
    margin-top: 160px;
    margin-left: -180px;
   
    flex-direction: column;
}

.products-template .caracteristicas p {
    margin-bottom: -12px;
}

.products-template .container {
    display: flex;
}



