.page-container {

width: 1150px;
background-color: #D3D1D1;
height: 800px;
margin-left: 100px;
border-radius: 30px;
margin-bottom: 100px;
margin-top: 50px;

}

.page-container .product-container #function {
    font-size: 40px;
   margin-top: 100px;
   margin-bottom: 80px;
   max-width: 500px;
   max-height: 60px;
}

.page-container .product-container {
    align-items: left;
    display: flex;
    font-size: 26px;
    justify-content: space-between;
    margin-left: 30px;
    flex-direction: column;
    margin-left: 50px;
    border-bottom: 20px;
    max-height: 420px;
    max-width:900px;
    
}

.page-container .product-container #name {
      width: 340px;
      height: 60px;
      border-radius: 10px;
      border: 1px solid grey;
     margin-bottom: 50px;
}

.page-container .product-container #price {
        width: 300px;
        height: 60px;
        border-radius: 10px;
        border: 1px solid grey;
}

.page-container #add {
 
    border: 1px solid grey;
    border-radius: 10px;
    height: 70px;
    width: 340px;
    background: #E02041 ;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 50px;
}

.page-container #foto {
    margin-left: 250px;
}

.page-container #aa {
    margin-left: 950px;
}

