.Page-container {
    width: 1150px;
    background-color: lightgrey;
    height:600px;
    margin-left: 100px;
    border-radius: 30px;
    margin-bottom: 100px;
    margin-top: 0px;

}

.Register-container {
        align-items: left;
        display: flex;
        justify-content: space-between;
        margin-left: 30px;
        flex-direction: column;
        border-bottom: 10px;
        border-radius: 10px;
        
}

.Register-container .conteudo {
    width: 100vh;
    height: 80vh;
    align-items: left;
    
}

.Register-container .conteudo input {
    width: 350px;
    height: 50px;
    border: 1px solid grey;
    border-radius: 10px; 
    margin-bottom: 10px;  
    text-align: left ;
}

.Register-container .conteudo #endereço .city {
    width: 250px;
    height: 50px;
}

.Register-container .conteudo #endereço .state {
    width: 90px;
    height: 50px;
    margin-left: 10px;
    text-align: center;
}

.Register-container .conteudo #endereço .address {
    width: 400px;
    height: 50px;
   
}

.Register-container button {
    align-items: center;
    border: 1px solid grey;
    border-radius: 10px;
    width: 400px;
    height: 50px;
    background: #E02041 ;
    font-size: 20px;
}
.Register-container p {
    margin-top: 100px;
    font-size: 32px;
    font-family: 'Sura';
    margin-bottom: 50px;
    
}

.Register-container #function {
    margin-left: 650px;
    margin-top: -30px;
}

.Register-container #function #upload {
    font-size: 22px;
    display:none;
}

.Register-container #function label {
    color: white;
    font-size: 20px;
    background-color: indigo;
    border-radius: 10px;
    padding: 10px 14px;
}

.cadastro-container {
     margin-left: 0px;
     margin-top: 40px;
     font-size: 22px;
     margin-bottom: 30px;   
}
